$primary-color: #30262d
$second-color: #904446
$third-color: #fffcfd
$font: 'Montserrat Alternates', sans-serif

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap')
@import bourbon/bourbon

@function calculateRem($size)
  $remSize: $size / 16px
  @return  $remSize * 1 rem

@mixin center($xy:xy)
  @if $xy == xy
    left: 50%
    top: 50%
    bottom: auto
    right: auto
    @include transform(translateX(-50%) translateY(-50%))

*, *::after, *::before
  @include box-sizing(border-box)
  margin: 0
  padding: 0
  background-color: $primary-color
  font-family: $font

html
  font-size: 62.5%

body
  font-size: 1.6rem
  width: 100%
  height: 100vh
  font-family: $font

a, button
  text-decoration: none
  border: none

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px 10%
  background-color: $second-color

.logo
  text-decoration: none
  cursor: pointer

.menu-links
  text-transform: uppercase
  list-style: none
  background-color: $second-color
  li
    display: inline-block
    padding: 0 20px
    background-color: inherit
    font-weight: 700
    a
      transition: all 0.3s ease 0s
      color: $primary-color
      background-color: inherit
    a:hover
      color: $third-color

.authorization
  background-color: $second-color
  margin: 0 -50px
  button
    margin: 0 10px
    padding: 9px 20px
    border-radius: 20px
    cursor: pointer
    background-color: $primary-color
    color: $second-color
    transition: all 0.3s ease 0s
  button:hover
    opacity: 0.6

.footer
  display: flex
  justify-content: center
  align-items: flex-end
  margin-top: 30px
  margin-bottom: 0
  background-color: $second-color

.copyright
  background-color: inherit
  p
    background-color: inherit
    padding: 10px
    color: $primary-color